<div id='container'>
<!-- Your code here -->
<div class="navigation">
    <ul>
      <li><a href="#/links">Links</a></li>
      <li><a href="#/shorten">Shorten</a></li>
      <li><a ng-click="Auth.signout()">Sign out</a></li>
    </ul>
  </div>
</div>

<div class="creator">
  <form novalidate name="shorten" ng-submit="addLink(newLink)">
    <input type="url" ng-model="newLink.url" name="url" required>
    <p class="message" ng-show="shorten.url.$invalid && !shorten.url.$pristine">Please Enter a Valid URL</p>
  </form>
</div>

<div aclinkview ng-show="link.url"></div>
<!-- <div ng-show="creator.url.$invalid && !creator.url.$pristine"class="error">Please Enter a Valid URL</div> -->
<!-- 
{{ link | json }} -->
